# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env

# Conda
.envrc

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Keep folders
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS
.DS_Store
Thumbs.db